# Data and results
## except the additional metadata
Data/*
!Data/Processed/
Data/Processed/*
!Data/Processed/Additional_metadata/
!Data/Processed/Additional_metadata/**
Results/
Scripts/**/*.html
Scripts/**/*_files/

# R / RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Package logs
omnipathr-log/

# renv

## Local package library
renv/library/

## Local renv sandbox
renv/sandbox/

## Local renv staging directory
renv/staging/

## Keep the files required to reproduce the environment
!renv/activate.R
!renv.lock
!.Rprofile

# Operating system files

## macOS
.DS_Store
._*

## Windows
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*.temp
*~
